 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1365px;
}

.u-section-1 .u-shape-1 {
  width: 992px;
  height: 881px;
  margin: 270px 56px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 908px;
  height: 800px;
  margin: -1095px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 814px;
  height: 815px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/251087021_1481766908871367_4129426119183116211_n.jpg");
  transition-duration: 0.5s;
  margin: -697px auto 0;
}

.u-section-1 .u-group-1 {
  width: 198px;
  transition-duration: 0.5s;
  min-height: 199px;
  margin: 45px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 516px;
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: -431px 548px 60px 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  padding: 10px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 914px;
    height: 789px;
    margin-top: 273px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 783px;
    height: 672px;
    margin-top: -1003px;
  }

  .u-section-1 .u-image-1 {
    width: 749px;
    height: 749px;
    margin-top: -568px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 74px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -395px;
    margin-right: 348px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-1 .u-shape-1 {
    width: 694px;
    height: 583px;
    margin-top: 371px;
  }

  .u-section-1 .u-shape-2 {
    width: 671px;
    height: 586px;
    margin-top: -796px;
  }

  .u-section-1 .u-image-1 {
    width: 612px;
    height: 612px;
    margin-top: -482px;
    margin-left: 49px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 277px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -588px;
    margin-right: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-1 .u-shape-1 {
    width: 520px;
    height: 480px;
    margin-top: 367px;
  }

  .u-section-1 .u-shape-2 {
    height: 500px;
    width: 500px;
    margin-top: -656px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 495px;
    height: 495px;
    margin-top: -399px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 152px;
    margin-top: 510px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -689px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-1 .u-shape-1 {
    height: 306px;
    margin-top: 298px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 298px;
    height: 352px;
    margin-top: -442px;
  }

  .u-section-1 .u-image-1 {
    width: 298px;
    height: 298px;
    margin-top: -288px;
  }

  .u-section-1 .u-group-1 {
    width: 126px;
    margin-top: 537px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -685px;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #000000 !important;
  border-style: solid !important;
  border-top-width: 20px !important;
  border-left-width: 20px !important;
  border-right-width: 20px !important;
  border-bottom-width: 20px !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #000000 !important;
  border-style: solid !important;
  border-top-width: 20px !important;
  border-left-width: 20px !important;
  border-right-width: 20px !important;
  border-bottom-width: 20px !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1:before {
  background-image: url(images/Screenshot_20230204_134329.png) !important;
}