 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-group-1 {
  width: 379px;
  min-height: 542px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 60px auto 0 115px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/40118EDA-07F4-4BFB-9CD8-252768EA65E7-afa4484d.jpeg");
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/604C400C-084E-426C-BFCC-8CD9E8E7706F-59d38987.jpeg");
  background-position: 50% 50%;
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 125px;
  height: 125px;
  margin: -460px 466px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -78px 223px 0 609px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 36px 74px 0 609px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 43px 262px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 125px;
  height: 125px;
  margin: 24px 55px 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  transition-duration: 0.5s;
  --radius: 11px;
  margin: -87px 339px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  transition-duration: 0.5s;
  --radius: 11px;
  margin: -50px 115px 183px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-1 .u-group-1 {
    width: 355px;
    min-height: 522px;
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -252px;
    margin-right: 315px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -48px;
    margin-right: 143px;
    margin-left: 604px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-right: -32px;
    margin-left: 530px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 67px;
    margin-right: 98px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 20px;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -97px;
    margin-right: 152px;
  }

  .u-section-1 .u-btn-2 {
    margin: -58px auto 60px 208px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 238px;
    margin-left: 494px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 198px;
    margin-left: 420px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -87px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 47px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 179px;
    margin-left: 232px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 149px;
    margin-left: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 113px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 94px;
    margin-left: 32px;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover:before {
  background-color: #c0c0c0 !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  color: #72efe9 !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  color: #72efe9 !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
  color: #adcce9 !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
  color: #adcce9 !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #72efe9 !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #72efe9 !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 50px !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 50px !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 50px !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 50px !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}